@media only screen and (min-width: 1140px) {

  header, nav, .row, footer {
    max-width: 1140px;
    margin: 0 auto;
  }

  nav ul li a {
     transition: background .3s linear;
  }

  nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.5);  
  }
  
} /*end of the media query */